<h1 class="text-center"><span style="color:#2980b9">SCEE</span><span style="color:#c0392b">Testbed</span> Monitor</h1>
		<!--<a	href="BackEnd.update_USRPs"	data-bind="true">Click to update</a>-->
		<hr>

		{% for i in lines%}
				<div class="row"><div class="col-xs-1"></div>
			{% for j in cols %}
				{%if used_by[5*i+j-1] == -1 %}
					<div class="col-xs-2 button disabled btn-default btn-lg text-center"><h4>Kit N°{{5*i+j}}</h4><hr><p>192.168.10.{{100+5*i+j}}</p><hr><p>Disconnected</p></div>
				{%elif used_by[5*i+j-1] == 0 %}
					<div class="col-xs-2 button disabled btn-success btn-lg text-center"><h4>Kit N°{{5*i+j}}</h4><hr><p><small>192.168.10.{{100+5*i+j}}</p><hr><p>Free to use</p></small></div>
				{%else%}
					<div class="col-xs-2 button disabled btn-danger btn-lg text-center"><h4>Kit N°{{5*i+j}}</h4><hr><p>192.168.10.{{100+5*i+j}}</p><hr><p>Used by :<br/><b>{{used_by[5*i+j-1]}}</b></p></div>
				{%endif%}
			{% endfor %}
				</div>
		{% endfor %}
